Html,
body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #110c11;
}

header {
  display: flex;
  flex-direction: column;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 25rem;

}

 .agentsupply {
  margin: .66rem 0 .66rem 1rem;
 }

.banner {
  display: flex;
  background-color: black;
  height: 2.75rem;

}

.logo {
  height: 1.5rem;
  margin: .66rem 0 .66rem 4rem;
}

h1 {
  color: white;
  font-family: Helvetica;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;

}

h3 {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  text-transform: uppercase;
}

.headline-box {
  background-color: black;
  box-sizing: border-box;
  width: 21rem;
  padding: 2rem 3rem;
  margin: 9rem 0 0 4rem;

}

.headline-box h3 {
  margin: .66rem 0 .66rem;
}

nav {
  display: flex;
  justify-content: center;
  background-color: firebrick;
  height: 2.5rem;
  width: 100%;

}

button {
 display: none;

}

nav a {
  color: #fff;
  text-decoration: none;
  margin: .66rem 0 .66rem;
  padding: 0 2.5rem;
}

h4 {
  color: white;
  text-transform: capitalize;
}

#site-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 1024px;
 background-color: white;
}

#main-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promotional-images {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  border: 1px solid black;
}

.promotional-images img{
  height: 50%;
  padding: 2rem;
  margin-top: auto;
  overflow: hidden;
}

.promotional-images h3 {
 background-color: black;
 width: 100%;
 margin: auto;
 height: 2rem;
 text-align: center;
 padding-top: .5rem;
 padding-bottom: .5rem;
 margin-top: 1rem;

}

.promopicthree img {
  width: 50%;
  padding: 2rem;
  margin-top: auto;
  overflow:hidden;

}

.promopicone,
.promopictwo,
.promopicthree {
   width: 25%;
   height: 13rem;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   border: 2px solid black;
}

.promopicone,
.promopictwo {
  margin-right: 2%;
}

.location-hours {
 display: flex;
 width: 100%;
 height: auto;
 margin-top: 3rem;
 margin-bottom: 4rem;
 border: 1px solid black;

}

.store-location,
.store-hours {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem 0 1rem 0;
}

.store-hours {
  margin-left: 15%;
}

.store-location {

  margin-left: 10%;
}

.location,
.hours-title{
padding: 1rem 0 1rem 2rem;
background-color: black;
}


footer {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: black;
}

 footer h4 {
   padding-left: 5rem;
 }


 @media only screen and (max-width: 1024px) {

   .headline-box {
     background-color: black;
     box-sizing: border-box;
     width: 65%;
     padding: 2rem 3rem;
     margin-left: 0;

   }

   .logo {
     height: 1.5rem;
     margin: .66rem 0 .66rem .66rem;
   }

   nav {
     display: none;

   }

   button {
   display: block;
   background-color: firebrick;
   height: 2.5rem;
   width: 100%;
   color: white;
   font-size: 1rem;
   font-style: bold;
   font-family: Helvetica;
   }

 .promopicthree {
   display: none;

 }

 .promopicone,
 .promopictwo {
   width: 47%;
 }

 .location-hours {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid black;
  margin-left: 0;

 }

 .location,
 .hours-title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;

 }

 .store-location,
 .store-hours {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   padding: 1rem 0 1rem 0;
   margin-left: 0;

 }

 .location,
 .hours-title{

 margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: black;
 }

 #site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

 }

 footer h4 {
   padding: 0;
 }


  @media only screen and (max-width: 470px) {

    header {
      display: flex;
      flex-direction: column;
      background-image: url("../images/moto.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 60%;

    }

    .logo {
      height: 1.5rem;
      margin: .66rem 0 .66rem .66rem;
    }

    .headline-box {
      background-color: black;
      box-sizing: border-box;
      width: 100%;
      padding-left: 2rem;
      padding-right: .5rem;
      margin-left: 0;

    }

    .headline-box h3 {
      font-family: Helvetica;
      font-size; 0.77rem;

    }

    h1 {
      font-size: 1rem;
      width: 100%;
    }

    .promopicthree,
    .promopictwo  {
      display: none;

    }

    .promopicone {
      width: 90%;
    }

    .location-hours {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: auto;
     margin-top: 3rem;
     margin-bottom: 3rem;

    }

    .store-location,
    .store-hours {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;
      padding: 0 0 .5rem 0;
      margin: 0;
    }

    .location,
    .hours-title{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     width: 90%;
     height: 2rem;
     padding-left: 1rem;
     margin: 0;

    }

    footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      height: 5rem;
      width: 100%;
      background-color: black;
    }

    footer h4 {
      padding: 0;
    }

  }
